.body{
    font-family: 'Ubuntu', sans-serif;
    background-color: #221969;
}
#bienvenido{
    color: black;
}
.footer{
    padding-top: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    background-color: #221969;
    bottom: 0;
}
.formInicioSesion{
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border:solid 0.2px white;
    width: 400px;
    height: 440px;
    padding: 10px;
    text-align: center;
    margin: 50px auto;
    background-color: rgb(253, 251, 246);
    box-shadow: -1px 1px 10px 3px  white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titleForm{
    font-size: 35px;
    font-weight: bold;
    color: #221969;
}
.labelForm{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color:  #221969;
    font-weight: bold;
}
.inputForm{
    font-size: 20px;
    padding: 5px;
    border: solid 0.5px rgba(175, 165, 165, 0.363);
    border-radius: 20px;
    margin: 5px;
    height: 25px;
    background-color:rgba(75, 31, 117, 0.212) ;
}
.sendForm{
    font-size: 18px;
    border: solid 0.5px rgba(128, 128, 128, 0.363);
    border-radius: 20px;
    margin-top: 8px;
    margin-bottom: 20px;
    height: 35px;
    background-color:#221969;
    color: white;
    text-decoration: none;
    padding: 4px;
    cursor: pointer;
    width: 100px;
}
.sendForm:hover{
    transform: scale(1.1);
    background-color:rgba(207, 42, 185, 0.678);
}
.classlogo{
    padding:10px ;
}
.sourEmail{
    display: none;
}
.cierro{
    background-color: rgba(255, 0, 0, 0.849);
    padding: 5px;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 15px;    
}
.guardo{
    margin-left: 5px;
    font-size: 15px;
    background-color: rgba(0, 128, 0, 0.884);
    padding: 5px;
    color: white;
    border: none;
    border-radius: 10px;
}
.clear{
    margin-left: 5px;
    font-size: 15px;
    background-color: rgb(78, 126, 128);
    padding: 5px;
    color: white;
    border: none;
    border-radius: 10px;
}
.cierro:hover, .guardo:hover, .clear:hover{
    transform: scale(1.1);
}
.bodyBusquedas{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    min-height: 85.6vh;
    
}
.contenedorTabla{
    padding: 10px;
    margin-top: 90px;
    overflow-x: scroll;
    overflow-y: scroll;
    max-height: 500px;
}
.tablaBusquedas{
    color: white;
    font-weight:bold ;
    text-align: center;
}
.tituloCol{
    background-color:#221969;
    text-align: center;
}
.dataCol{
    background-color:#30286ede;
}
.td11{
    color: black;
}
.bodyHome{
    padding: 0;
    margin: 0;
    min-height: 87.2vh;
    position: relative;
    padding-bottom: 50px;
}
.bodyInformes{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    min-height: 85.6vh;
    position: relative;
}
.carousel{
    margin-top: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.146);
    width: 99%;
    margin-left: .5%;
    border-radius: 10px;
}
.h3busq{
    margin: 0;
    color: white;
    background-color: #221969;
    padding: 5px;
    width: 100%;
}
.carousel-item{
    color: black;
}
.h2busq{
  background-color: #221969ea;
  width: 60%;
  margin-left: 20%;
  border-radius: 10px;
  padding: 5px;
  color: white;
  margin-top: 10px;
}
.btn-informes{
    font-family: 'Ubuntu', sans-serif;
    color: white;
    text-decoration: none;
    padding: 8px;
    font-size: 15px;
    border-radius: 10px;
    background-color: #221969ea;
    margin:10px;
    text-align: center;
    width: 50%;
    margin-left: 25%;
}
.btn-informes:hover{
    text-decoration: none;
    color: white;
    transform: scale(1.1);
    background-color:rgba(207, 42, 185, 0.678);

}
#psignOff, #psignOff{
    color: white;
}
.singOff:hover{
    text-decoration: none;
}
.seccion2,.seccion3,.seccion4,.seccion5{
    display: none;
}
.seccion5D,.seccion2D,.seccion3D,.seccion4D{
    display: block;
}

@media(max-width:478px){
    form{
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border:solid 0.2px white;
        width: 280px;
        height: 315px;
        padding: 10px;
        text-align: center;
        margin: 50px auto;
        background-color: rgb(253, 251, 246);
        box-shadow: -1px 1px 10px 3px  white;
    }
    
}
